@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h3-blue {
    @apply text-xl text-[#177BCF] hover:text-[#289BFE];
  }
  .clear-blue {
    @apply bg-[#E1ECF4];
  }
  .h-blue {
    @apply text-[#177BCF] hover:text-[#289BFE];
  }
  .tag {
    @apply bg-[#E1ECF4] text-[#39739C] px-2 py-1 rounded;
  }
  .user-tag {
    @apply bg-[#E1ECF4] px-2 py-1 rounded;
  }
  .orange {
    @apply bg-[#F48224];
  }
  .paginate-btn {
    @apply p-2 border rounded;
  }
  .stack-gray {
    @apply bg-[hsl(210,8%,95%)];
  }
}

/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: inherit;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
